In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\susmi\OneDrive\Documents\data.csv")
df

,NAME,CLASS,SECTION,ROLLNO,EMAIL,PHNO,MARKS
0,B.Yamuna,AIR,A,37,yamunalovely9@gmail.com,8897859569,95
1,P.Devi,AIR,A,58,gundrasivesaidurga@gmail.com,9347791232,97
2,J.Ramya,AIR,A,52,jivvireddyramyasri@gmailcom,9676976652,90
3,K.Prasanthi,AIR,A,41,kesanakurthiprasanthi@gmail.com,7382934586,85
4,K.V. Niharika,AIR,A,54,karreveeraniharika@gmail.com,9182532802,96
5,K.Sri Niharika,AIR,A,9,karresriniharika@gmail.com,6300408089,90
6,Y.Kaveri,AIR,A,3,yendamurikaveri@gmail.com,7386015549,94
7,P.Durga,AIR,A,24,durgarani@gmail.com,8466845651,89
8,P.Akhila,AIR,A,29,bottaakhila@gmail.com,8397941799,90
9,P.Neelima,AIR,A,36,pinapalaramesh@gmail.com,7386803023,93

In [2]:
df.max()

NAME                                     Y.Kaveri
CLASS                                         AIR
SECTION                                         A
ROLLNO                                         58
               EMAIL    yendamurikaveri@gmail.com
PHNO                                   9676976652
MARKS                                          97
dtype: object

In [4]:
df.min()

NAME                                 B.Yamuna
CLASS                                     AIR
SECTION                                     A
ROLLNO                                      3
               EMAIL    bottaakhila@gmail.com
PHNO                               6300408089
MARKS                                      85
dtype: object

In [5]:
df["MARKS"].mean()

np.float64(91.9)

In [6]:
df["MARKS"].mode()

0    90
Name: MARKS, dtype: int64

In [7]:
df["MARKS"].median()

91.5

In [8]:
df["MARKS"].var()

13.877777777777778

In [9]:
df["MARKS"].std()

3.725288952252936

In [10]:
df["MARKS"].cov(df["ROLLNO"])

np.float64(17.144444444444442)